@model Dietetica.Models.Semilla

@{
    ViewData["Title"] = "Details";
}
<head>
    <link href="~/css/detailsStyles.css" rel="stylesheet" />
</head>
<h1>Details</h1>

<div>
    <h4>Semilla</h4>
    <hr />
    <dl class="shadow p-3 mb-5 bg-white rounded detailsDiv">
        <dt class="col-12">
            Nombre
        </dt>
        <dd class="col-12">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class="col-12">
            Precio por kilogramo
        </dt>
        <dd class="col-12">
            @Html.DisplayFor(model => model.precioXKg)
        </dd>
        <dt class="col-12">
            Tipo de venta
        </dt>
        <dd class="col-12">
            @Html.DisplayFor(model => model.tipoVenta.tipoDeVenta)
        </dd>
        <dt class="col-12">
            Proveedor
        </dt>
        <dd class="col-12">
            @Html.DisplayFor(model => model.proveedor.nombre)
        </dd>
    </dl>
</div>
<div class="btnDiv">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
