@model Dietetica.Models.Semilla

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Semilla</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precioXKg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precioXKg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idTipoVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idTipoVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idProveedor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
