@model Dietetica.ModelsView.SemillaViewModel
@{
    ViewData["Title"] = "Index";
}
<head>
    <link href="~/css/indexStyle.css" rel="stylesheet" />
</head>
<h1>Semillas</h1>

<p>
    <a asp-action="Create" style="color: #28590C;">Create New</a>
</p>

<form asp-action="Index" method="get">
    <p>
        Filtros:<br />
        Nombre: <input type="text" name="busqNombre" class="form-control mr-1" value="@Model.busqNombre" />
        Proveedor: <select class="form-control" name="proveedorId" asp-items="@Model.ListaProveedores">
            <option value="">Todos</option>
        </select>
        <input type="submit" class="btn" value="Filtrar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Precio por kg
            </th>
            <th>
                Tipo de venta
            </th>
            <th>
                Proveedor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaSemillas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.precioXKg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoVenta.tipoDeVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.proveedor.nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn edit">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn details">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn delete">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<partial name="_paginador" for="@Model.paginador" />

