@model Dietetica.Models.TeEnHebras

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TeEnHebras</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precioX100gr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precioX100gr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProveedor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
