@model Dietetica.Models.ProductoEmbasado

@{
    ViewData["Title"] = "Delete";
}
<head>
    <link href="~/css/deleteStyle.css" rel="stylesheet" />
</head>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Otro producto</h4>
    <hr />
    <dl class="shadow p-3 mb-5 bg-white rounded deleteDiv">
        <dt class = "col-12">
            Nombre
        </dt>
        <dd class = "col-12">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-12">
            Precio por unidad
        </dt>
        <dd class = "col-12">
            @Html.DisplayFor(model => model.precioPorUnidad)
        </dd>
        <dt class = "col-12">
            Gramos
        </dt>
        <dd class = "col-12">
            @Html.DisplayFor(model => model.gramos)
        </dd>
        <dt class = "col-12">
            Foto
        </dt>
        <dd class="col-12">
            <img src="@(!string.IsNullOrEmpty(Model.foto) ? "/fotos/"+Model.foto : "")" id="imagen" class="rounded" style="max-width:75px" />
        </dd>
        <dt class = "col-12">
            Tipo de venta
        </dt>
        <dd class = "col-12">
            @Html.DisplayFor(model => model.tipoVenta.tipoDeVenta)
        </dd>
        <dt class = "col-12">
            Proveedor
        </dt>
        <dd class = "col-12">
            @Html.DisplayFor(model => model.proveedor.nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
