@model Dietetica.Models.ProductoEmbasado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductoEmbasado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precioPorUnidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precioPorUnidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gramos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gramos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.foto)
        </dt>
        <dd class = "col-sm-10">
            <img src="@(!string.IsNullOrEmpty(Model.foto) ? "/fotos/"+Model.foto : "")" id="imagen" class="rounded-circle" style="max-width:50px" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoVenta.tipoDeVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proveedor.nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
