@model Dietetica.ModelsView.ProductoEmbasadoViewModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <link href="~/css/indexStyle.css" rel="stylesheet" />
</head>
<h1>Otros productos</h1>

<p>
    <a asp-action="Create" style="color: #28590C;">Create New</a>
</p>

<form asp-action="Index" method="get">
    <p>
        Filtros:<br />
        Nombre: <input type="text" class="form-control mr-1" name="busqNombre" value="@Model.busqNombre" />
        Proveedor: <select class="form-control" name="proveedorId" asp-items="@Model.ListaProveedores">
            <option value="">Todos</option>
        </select>
        @*Tipo de venta: <select name="tipoVentaId" asp-items="@Model.ListaTiposVentas">
                <option value="">Todos</option>
            </select>*@
        <input type="submit" class="btn" value="Filtrar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Precio
            </th>
            <th>
                Gramos
            </th>
            <th>
                Foto
            </th>
            <th>
                Tipo de venta
            </th>
            <th>
                Proveedor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaProductosEmbasados)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.precioPorUnidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gramos)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.foto))
                    {
                        <img src="~/fotos/@item.foto" class="rounded" style="max-width:75px" asp-append-version="true" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoVenta.tipoDeVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.proveedor.nombre)
                </td>
                <td>
                    <a class="btn edit" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="btn details" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a class="btn delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<partial name="_paginador" for="@Model.paginador" />
