@*@model IEnumerable<Dietetica.Models.Proveedor>*@
@model Dietetica.ModelsView.ProveedorViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Proveedores</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <p>
        Filtros:<br />
        Nombre: <input type="text" name="busqNombre" value="@Model.busqNombre" />
        <input type="submit" value="Filtrar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListaProveedores[0].nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaProveedores[0].telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaProveedores[0].email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaProveedores)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_paginador" for="@Model.paginador" />
